.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-gallery-1 {
  height: 401px;
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 2px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 13px auto 24px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-gallery-1 {
    height: 277px;
    margin-top: -394px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-bottom: 60px;
    margin-left: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-1 .u-gallery-1 {
    height: 148px;
    margin-top: -376px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-right: auto;
    margin-left: -3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 38px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 64px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
  }
}